*{
    margin: 0px;
    padding: 0px;
}

/*renglones*/

ul{
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}

.reng{
    text-decoration: none;
    margin:7%;
    margin-top: 3%;
    float: left;
    margin-bottom: 0px;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.reng:hover{
    transform: scale(1.2);
}

.reng::after {
    content: attr(data-text);
    position: absolute;
    top: 100%; /* Sitúa el texto debajo del icono */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: white; /* Cambia el color del texto a blanco */
    font-size: 14px; /* Cambia el tamaño de la fuente del texto */
    font-weight: bold; /* Hace el texto en negrita */
    text-align: center; /* Centra el texto horizontalmente */
    background-color: rgba(0, 0, 0, 0.7); /* Agrega un fondo oscuro semi-transparente */
    padding: 5px 10px; /* Agrega un espacio alrededor del texto */
    border-radius: 5px; /* Agrega bordes redondeados al fondo del texto */
    transition: opacity 0.3s;
    z-index: 2; /* Asegura que el texto esté por encima del carrusel */
}

.reng:hover::after {
    opacity: 1;
}


/*barra de navegación*/

.arribaD{
    align-items: center;
    width: 35%;
    padding-left: 5%;
    padding-top: 0px;
    float: left;
}

.arriba{
    margin: 0px;
    padding: 0px;
    align-items: center;
    width: 100%;
    float: left;
    background-color: #677637;
}

#t{
    font-size: 55px;
    font-weight: 200;
    margin-left: 10%;
    color: #ffffff;
    margin: 0px;
    padding: 0px; 

}

.iconos{
    margin: 0px;
    padding: 2px;
    float: right;
    width: 34%;
    padding-left: 5%;
}


/*redes sociales*/

.i{
    transition: transform 0.3s;
    text-decoration: none;
    float: left;
    align-items: right;
}

.i:hover{
    transform: scale(1.2);
}

/*footer*/

.laterald{
    width: 2%;
    float: left;
    padding: 30px;
    padding-right: 10px;
    text-align: right;
}

/*carrusel*/

.carousel-container {
    width: 90%;
    display: flex;
    overflow: hidden;
    /*cambios recientes*/
    float: left;
    margin-top: 40px;
    text-align: center;
    /*cambios super recientes recientes*/
    overflow-x: auto; /* Permite desplazamiento horizontal*/
    white-space: nowrap;
    margin-left: 25px;

  } 


.carousel-wrapper {
    display: inline-block; /* Alinea los elementos en línea */
    padding: 0px;
}

.carousel-wrapper {
    width: calc(100% - 120px); /* Restar el ancho de los botones */
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel-slide {
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.prev-button, .next-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #F2E8CF;
    color: #677637;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    margin-left: 20px;
}

.next-button {
    margin-right: 20px;
}


/*dentro del carrusel*/

/*tarjetas*/

.item-container {
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center;
    width: 260px; /* Ancho de cada contenedor */
    margin-right: 5px; /* Espacio entre contenedores */
    float: left;
}

.item-image {
    margin-right: 10px;
    margin-bottom: 10px;
}

.item-details {
    flex-grow: 1;
    margin-top: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-btn {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.quantity-value {
    margin: 0 10px;
}

.add-to-cart-btn {
    padding: 10px;
    background-color: #A3B82F;
    color:#ffffff;
    border: none;
}