*{
    margin: 0px;
    padding: 0px;
}

/*renglones*/

ul{
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}

.f{
    margin:6%;
    margin-top: 3%;
    float: left;
    transform: scale(1.2);
    margin-bottom: 0px;
}

.reng{
    text-decoration: none;
    margin:7%;
    margin-top: 3%;
    float: left;
    margin-bottom: 0px;
    transition: transform 0.3s;
}

.reng:hover{
    transform: scale(1.2);
}

/*parrafos*/

.texto1{
    margin-top: 30px;
    float: left;
    text-align: justify;
    margin-left: 0;
    padding: 20px;
    padding-right: 30px;
    width: 70%;
    background-color: #A3B82F;
    color: #F2E8CF;
    font-size: 19px;
}

.texto2{
    margin-top: 30px;
    float: right;
    text-align: justify;
    margin-left: 0;
    padding: 20px;
    padding-left: 30px;
    width: 40%;
    background-color: #F2E8CF;
    color: #677637;
    font-size: 19px;
}

.izquierda{
    width: 64.5%;
    float: left;
}

.arribaD{
    align-items: center;
    width: 35%;
    padding-left: 5%;
    padding-top: 0px;
    float: left;
}

.arriba{
    margin: 0px;
    padding: 0px;
    align-items: center;
    width: 100%;
    float: left;
    background-color: #677637;
}

.iconos{
    margin: 0px;
    padding: 2px;
    float: right;
    width: 34%;
    padding-left: 5%;
}

.iconos2{
    margin: 0px;
    padding: 2px;
    float: right;
    width: 38%;
    padding-left: 2%;
}



#t{
    font-size: 55px;
    font-weight: 200;
    margin-left: 10%;
    color: #ffffff;
    margin: 0px;
    padding: 0px; 

}

/* Estilo para el carrusel */
.carousel-container {
    width: 83.3%;
    overflow: hidden;
    margin: 0 auto;
    height: auto;
    float: left;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel img {
    width: 100%;
    height: auto;
}

.derecha{
    width: 34%;
    float: left;
}

.derecha-d{
    width: 5%;
    float: left;
    padding: 0px;
    padding-right: 0px;
    align-items: right;
    margin-top: 120px;
    padding: 7px;
}

.i{
    transition: transform 0.3s;
    text-decoration: none;
    float: left;
    align-items: right;
}

.i:hover{
    transform: scale(1.2);
}

